<template name = "checkinSubmit">
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <h1>New Checkin</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <form class="main form page">
        <div class="form-group">
          <label class="control-label" for="location">Select Location</label>
          <select name="location" class="form-control input-lg">
            {{#each locations}}
              <option class="location_option" value={{_id}}>{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="checkbox form-group">
          <div class="checkbox">
            <label>
              <input name="excused" type="checkbox"> Excused
            </label>
          </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</template>
