<template name = "locationItem">
  <div class="row">
    <div class="col-xs-12 center">
      <h1 class="white center largeFont">{{name}}: {{locationCheckins.count}} of {{expected_checkins}}</h1>
      <!-- <div class="locationCheckin">
        <span class="pull-right">
          {{#if currentUser}}
            {{> locationCheckinSubmit}}
          {{else}}

          {{/if}}
        </span>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 center">
      {{> imgCanvas}}
      <!-- <div class="debugLocation">
        {{>debugLocation}}
      </div> -->
    </div>
  </div>
</template>

<template name = "imgCanvas">
  <canvas id="canvas" class="locationImage">
    <br>
    Sorry, please update your browser.
  </canvas>
</template>

<template name = "debugLocation">
  <div class="row">
    <h1>Debugging Enabled </h1>
    <div class="col-xs-8">
      <h4>Location Meta </h4>
      <h4>
        <a href="{{pathFor 'locationPage'}}">Location ID: {{_id}}</a><br>
        External ID: {{external_id}}<br>
        Checkins: {{locationCheckins.count}}<br>
        Name: {{name}}<br>
        Creator ID: {{user_id}}<br>
        Bluetooth ID: {{bluetooth_id}}<br>
        Expires: {{expires}}<br>
        {{#if ownLocation}}
          <a href="{{pathFor 'locationEdit'}}">Edit</a>
        {{/if}}
      </h4>
    </div>
    <div class="col-xs-4">
      <h4>Current Checkins</h4>
      <ul>
        {{#each locationCheckins}}
          <li>{{user_id}}: {{author}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
