<template name = "locationSubmit">
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <h1>New Location</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <form class="main form page">
         <div class="form-group">
          <label for="locationName">Name</label>
          <input type="text" class="form-control" id="locationName" placeholder="Location" name="name">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</template>
