<template name = "locationSubmit">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-md-offset-4">
      <h2>New Location</h2>
      <form class="main form page">
         <div class="form-group">
          <label for="locationName">Name</label>
          <input type="text" class="form-control" id="locationName" placeholder="Location" name="name">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </form>
    </div>
  </div>
</template>
