@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
/*BODY*/

// STYLE COLORS
$teal: #6ed3cf;
$purple: #9068be;
$red: #e62739;
$lightGrey: #e1e8f0;
$mediumGrey: #55585d;
$blueGrey: #4d5256;

body{
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  background-color:$teal;
}
html, body{
  height: 100%;
  /*font-family: 'Roboto', Helvetica, Arial, sans-serif;*/
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
   margin:0;
   padding:0;
}
/*h1, h2, h3, h4{
  font-family: 'ralewaylight';
}
h5, h6{
  font-family: 'ralewayregular';
}*/
p{
  font-size: 18px;
  color: #696969;
  line-height: 30px;
}
.container{
  min-height:100%;
  // position:relative;
  padding-bottom:70px;
}

.white{
  color:white;
}
.center{
  text-align: center;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.left{
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}
.right{
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}
.childElement{
  margin-top: 10px;
  margin-left: 20px;
}
.navfixed{
  position: fixed;
  right:50px;
  top:10px;
  z-index:9;
  color:white;
  a{
    color:$lightGrey;
    text-decoration: none !important;
  }
  a:hover{
    color:$purple;
    text-decoration: none;
  }
}
.pagFooter{
  text-align: center;
}

/*LINKS*/
/*a:link{
  color:white;
  text-decoration: none !important;
}
a:visited {
  color:black;
}*/
a:hover{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
a {
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#footer{
  position: fixed;
  height:60px;
  background-color: $blueGrey;
  margin-left:-20px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  .footerImage{
    padding-top:5px;
  }
  h1{
    padding-top:0px;
    margin-top:0px;
    padding-left:20px;
  }
  a{
    color:$lightGrey;
    text-decoration: none !important;
  }
  a:hover{
    color:$purple;
    text-decoration: none;
  }
}
