<template name="welcome">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="jumbotron">
        <h1>Welcome to Prezio</h1>
        <p>
          {{#if currentUser}}
            <p>Would you like to create a new location or checkin to one now?</p>
            <a class="btn btn-success btn-lg" href="{{pathFor 'checkinSubmit'}}" role="button">Checkin</a>
            <a class="btn btn-primary btn-lg" href="{{pathFor 'locationSubmit'}}" role="button">Create Location</a>
          {{/if}}
        </p>
      </div>
      <div class="row">
        {{>welcomeLocations}}
      </div>
    </div>
  </div>
</template>

<template name="welcomeLocations">
  {{#each locations}}
    <div class="col-sm-6 col-md-4">
      <a href="{{pathFor 'locationPage'}}">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{name}}</h3>
            <p>
              {{#if currentUser}}
                <a href="{{pathFor 'submitCheckin'}}" class="btn btn-default" role="button">CheckIn</a>
              {{/if}}
            </p>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</template>

