<template name="welcome">
  <div class="row" id="welcomeContainer">
    <div class="col-xs-12 center logo">
      <img src="images/PrezioB.png" class="class" width="300px" height="60px">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      {{#each locations}}
        <div class="col-sm-6 col-md-6">
          <a href="{{pathFor 'locationPage'}}">
            <div class="thumbnail">
              <div class="caption center">
                <h2>{{name}}</h2>
                <!-- <h6>{{submitted}}</h6> -->
              </div>
            </div>
          </a>
        </div>
      {{/each}}
      <br>
    </div>
  </div>
</template>


