<div class="row">
	<div class="col-xs-4">
		<h1 class="">Welcome to Prezio</h1>
		<h4 class="">List of students</h4>
		<ul>
			<% @users.each do |user| %>
				<li>
					<%= link_to user_path(user.id) do%>
						<%=user.user_name%>
					<%end%>
				</li>
			<%end%>
		</ul>
		<h4 class="">Please select a class</h4>
		<ul>
			<% @courses.each do |course| %>
				<li>
					<%= link_to course_path(course.id) do%>
						<%=course.name%>
					<%end%>
				</li>
			<%end%>
		</ul>
	</div>
	<div class="col-xs-6 center">
	<br>
		<canvas id="canvas"></canvas>
	</div>
</div>
