<template name = "footer">
  <div class="row" id ="footer">
    <div class="col-xs-4 white left">
      <h1>
        <a data-toggle="modal" data-target="#aboutPrezio">
          <i class="fa fa-question"></i>
        </a>
      </h1>
      <!-- <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
        <h2><i class="fa fa-question"></i></h2>
      </button> -->
    </div>
    <div class="col-xs-4 white">
      <h5>Made with love for CSCE 436: HCI</h5>
    </div>

    <div class="col-xs-4 footerImage">
      <img src="/images/Prezio.png" class="class" width="113px" height="23px">
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="aboutPrezio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">Thanks for using Prezio!</h2>
        </div>
        <div class="modal-body">
          <h3>Website</h3>
          <h6>Here you are able to view the number of checkins in realtime represented by a filling in image</h6>
          <h3>Android App</h3>
          <h6>To checkin, or create a location please download the mobile application!</h6>
          <h3>Contact Us</h3>
          <h6>If you have any questions, problems or concerns, feel free to contact us here!</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
